// Added by onlyice for custom styles
.content-box {
    border-radius: 5px;
    border: 2px dashed #ffdb00;
    margin: 1em auto;
}

.content-box>p, .content-box>blockquote {
    margin-left: 16px;
    margin-right: 16px;
    margin-block-end: 16px;
}